/* 
Global Styling
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.5;
}

body {
  background-image: url(/images/pattern-background-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #e0e8ff;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #382ae1;
  color: #fff;
  font-size: 15px;
  border-radius: 8px;
  width: 80%;
  text-align: center;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

a {
  text-decoration: none;
}

.wave-bg {
  z-index: -1;
  overflow: hidden;
  border-radius: 10px;
}

img.hero-img {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wave-showcase {
  overflow: hidden;
  border-radius: 10px;
}

.position-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5%;
  left: 35%;
}

.card-container {
  border-radius: 10px;
  background: #fff;
  width: 450px;
  margin-bottom: 10rem;
  z-index: 1;
}

img.hero-img {
  width: 100%;
  height: auto;
}

.order-summary {
  text-align: center;
  margin: auto;
}

.order-summary h1 {
  text-align: center;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

.order-summary p {
  text-align: center;
  margin: auto;
  width: 366px;
  padding-bottom: 25px;
}

/* 


Annual Plan


*/

.annual-plan-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f8f9fe;
  width: 85%;
  border-radius: 8px;
  margin: auto;
  padding: 20px;
}

.annual-plan-text {
  padding-right: 78px;
}

.annual-plan-container h2 {
  font-size: 18px;
}

.change-link a {
  text-decoration: underline;
  color: #3727c5;
}

.change-link a:hover {
  opacity: 0.9;
  text-decoration: none;
}

.proceed-to-payment {
  text-align: center;
  padding-top: 30px;
}

.cancel {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/* 


Media Queries


*/

@media only screen and (max-width: 768px) {
  body {
    overflow-x: scroll;
    overflow-y: scroll;
  }

  .wave-showcase {
    display: none;
  }

  .position-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
  }

  /* img.hero-image {
    width: 100%;
    height: auto;
    display: none;
  } */

  .card-container {
    border-radius: 10px;
    background: #fff;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    z-index: 1;
  }

  .order-summary p {
    text-align: center;
    margin: auto;
    width: 90%;
    padding-bottom: 25px;
  }

  .annual-plan-text {
    padding-right: 0px;
  }
}

@media only screen and (min-width: 810px) and (max-width: 1250px) {
  body {
    overflow-x: scroll;
    overflow-y: scroll;
  }

  .wave-showcase {
    display: none;
  }

  .position-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
  }

  .card-container {
    margin-top: 2rem;
  }
}
